@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  font-family: "avenir", "Inter", "Muli", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "avenir", "Inter", "Muli", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p,
ul {
  margin: 0;
}

h1 {
  font-size: var(--FS-3xl);
}
h2 {
  font-size: var(--FS-2xl);
}
h3 {
  font-size: var(--FS-xl);
}
h4 {
  font-size: var(--FS-lg);
}
h5 {
  font-size: var(--FS-base);
}
h6 {
  font-size: var(--FS-s);
}

a,
a:hover {
  text-decoration: none;
  color: white;
}

input,
textarea {
  display: block;
  padding: 0.375rem 0.75rem;
  margin-top: 0.25rem;
  font-size: var(--FS-base);
  line-height: 1.5;
  color: var(--gray-700);
  box-sizing: border-box;
  background-color: white;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid var(--gray-300);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

:root {
  /* 
    Font sizes 
  */
  --FS-xs: 0.75rem;
  --FS-s: 0.875rem;
  --FS-base: 1rem;
  --FS-lg: 1.125rem;
  --FS-xl: 1.25rem;
  --FS-2xl: 1.5rem;
  --FS-3xl: 1.875rem;
  --FS-4xl: 2.25rem;
  --FS-5xl: 3rem;
  --FS-6xl: 4rem;
  /* 
    Colours
  */
  --black: #000000;
  --white: #ffffff;
  /* Grays  */
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  /* Newt blue */
  --newtBlue-50: #e9f9ff;
  --newtBlue-100: #d5f5ff;
  --newtBlue-200: #aeebff;
  --newtBlue-300: #86e1ff;
  --newtBlue-400: #5fd8ff;
  --newtBlue-500: #38ceff;
  --newtBlue-600: #00befc;
  --newtBlue-700: #0092c1;
  --newtBlue-800: #006586;
  --newtBlue-900: #00394c;
  /* Hot pinks */
  --hotPink-100: #ffeff3;
  --hotPink-200: #ffc1d1;
  --hotPink-300: #ff9ab4;
  --hotPink-400: #ff7397;
  --hotPink-500: #ff386b;
  --hotPink-600: #fc0041;
  --hotPink-700: #c10032;
  --hotPink-800: #860022;
  --hotPink-900: #4c0013;
  /* Indigos */
  --indigo-100: #ebebff;
  --indigo-200: #c4c4ff;
  --indigo-300: #9d9dff;
  --indigo-400: #7575ff;
  --indigo-500: #3a3aff;
  --indigo-600: #0000fe;
  --indigo-700: #0000c3;
  --indigo-800: #000088;
  --indigo-900: #000061;
  /* Light greens */
  --lightGreen-100: #f0fbf3;
  --lightGreen-200: #a2e9b2;
  --lightGreen-300: #82e198;
  --lightGreen-400: #62d97e;
  --lightGreen-500: #33ce57;
  --lightGreen-600: #26a043;
  --lightGreen-700: #1f8035;
  --lightGreen-800: #176128;
  --lightGreen-900: #10411b;
}
