@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  font-family: "avenir", "Inter", "Muli", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

input,
textarea {
  display: block;
  padding: 0.375rem 0.75rem;
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  box-sizing: border-box;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
