.form {
  margin: 1rem 0;
  width: 100%;
}

.or {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  font-weight: 500;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.youtubeTitle {
  color: var(--gray-700);
  margin-bottom: 0.5rem;
}

.youtubeText {
  font-size: var(--FS-s);
  color: var(--gray-800);
  margin-bottom: 1.5rem;
}
