.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.container > h5 {
  margin-bottom: 3rem;
}

.googleBtn {
  background-color: var(--gray-300);
}
