.header {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  flex-direction: row;
}

.creatorsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  margin-top: 0.25rem;
}

.backBtn {
  color: var(--gray-600);
  margin-right: 1rem;
}

.backBtn:hover {
  color: var(--gray-900);
  cursor: pointer;
}

.creators {
  align-self: flex-end;
  color: var(--gray-700);
}

.numItems {
  align-self: flex-end;
  font-size: var(--FS-base);
  color: var(--gray-600);
}

.optionsDropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 26px;
  height: 30px;
  border-radius: 0.5rem;
  transition: 0.15s linear;
}

.optionsDropdown:hover {
  background-color: var(--gray-200);
}

/* Remove down-arrow that's there by default on dropdowns */
.dropdownToggle::after {
  content: none;
}
