.btn {
  background-color: white;
  border: 1px solid var(--gray-300);
  padding: 0.5rem 0.75rem;
  font-size: var(--FS-s);
  font-weight: 500;
  line-height: 1.25;
  border-radius: 0.5rem;
  transition: all 0.15s ease-in-out;
}

.btn:hover {
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.primaryBtn {
  background-color: var(--newtBlue-600);
  border: 1px solid var(--newtBlue-700);
  color: white;
}

.primaryBtn:hover {
  background-color: var(--newtBlue-200);
  color: var(--newtBlue-800);
}

.landingBtn {
  background-color: var(--newtBlue-800);
  border: 1px solid var(--newtBlue-900);
  color: white;
}

.landingBtn:hover {
  background-color: var(--newtBlue-200);
  color: var(--newtBlue-800);
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}
