.contentFlowContainer {
  width: 66.67%;
  padding-right: 1rem;
}

.contentInfoContainer {
  width: 33.33%;
  padding-left: 1rem;
}

.loadingContainer {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-with: 1024px) {
  .contentInfo {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .contentFlowContainer,
  .contentInfoContainer {
    width: 100%;
    padding: 0;
    margin-bottom: 2.5rem;
  }
}
