.badge {
  padding: 0.25rem 0.5rem;
  font-size: var(--FS-xs);
  border-radius: 0.5rem;
  vertical-align: middle;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-weight: 500;
}

.defaultBadge {
  background-color: var(--gray-200);
  color: var(--gray-800);
}

.currentlyLearningBadge {
  background-color: var(--yellow-100);
  color: var(--yellow-900);
}

.wantToLearnBadge {
  background-color: var(--newtBlue-50);
  color: var(--newtBlue-900);
}

.finishedLearningBadge {
  background-color: var(--lightGreen-100);
  color: var(--lightGreen-900);
}
