.card {
  word-wrap: break-word;
  padding: 2rem 1rem;
  border-top: 1px solid var(--gray-400);
  font-size: var(--FS-s);
  color: var(--gray-700);
  min-width: 135px;
  border-right: 1px solid var(--gray-400);
}

.card:hover {
  background-color: var(--gray-200);
  cursor: pointer;
}

.active {
  background-color: var(--gray-200);
  font-weight: 600;
}

@media screen and (min-width: 400px) {
  .card {
    border-right: 0;
  }
}
