.container {
  width: 100%;
  background-color: var(--gray-200);
  border-radius: 0.32rem;
  height: 25px;
  box-sizing: border-box;
  margin-bottom: 0.75rem;
}

.progressBar {
  display: flex;
  position: relative;
  left: 0;
  border-radius: 0.25rem;
  background-color: var(--lightGreen-300);
  height: 25px;
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: var(--FS-xs);
  font-weight: 500;
  padding-left: 0.5rem;
  color: var(--gray-900s);
}
