.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 4rem 2rem;
}

.title {
  font-size: var(--FS-3xl);
  text-align: center;
  margin-bottom: 2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.text {
  max-width: 800px;
  margin-bottom: 1.5rem;
  color: var(--gray-700);
}

.textList {
  padding-left: 3rem;
}

.newtFlowContainer {
  display: flex;
}

.newtFlowDiagram {
  display: none;
}

.flowEndpoint {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.flowEndpoint#discover-endpoint {
  border-left: 3px solid var(--indigo-400);
  background-color: var(--indigo-100);
}

.flowEndpoint#track-endpoint {
  border-left: 3px solid var(--hotPink-400);
  background-color: var(--hotPink-100);
}

.flowEndpoint#learn-endpoint {
  border-left: 3px solid var(--lightGreen-500);
  background-color: var(--lightGreen-100);
}

.flowEndpointTitle {
  font-size: var(--FS-xl);
}

.flowEndpointTitle#discover-title {
  color: var(--indigo-400);
}
.flowEndpointTitle#discover-title:hover {
  color: var(--indigo-500);
}

.flowEndpointTitle#track-title {
  color: var(--hotPink-400);
}
.flowEndpointTitle#track-title:hover {
  color: var(--hotPink-700);
}

.flowEndpointTitle#learn-title {
  color: var(--lightGreen-500);
}

.flowEndpointText {
  font-size: var(--FS-base);
  color: var(--gray-700);
}

@media screen and (min-width: 640px) {
  .container {
    padding: 10rem 4rem 4rem 4rem;
  }

  .title {
    font-size: var(--FS-4xl);
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 10rem 5rem 4rem 5rem;
  }

  .newtFlowDiagram {
    display: flex;
    max-width: 75%;
  }

  .flowEndpointContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 115px 10px 115px 10px 115px auto;
  }

  .flowEndpoint {
    padding: 0.75rem;
    height: 100%;
    margin: 0;
    max-width: 400px;
  }

  .flowEndpointTitle {
    font-size: var(--FS-base);
    margin-bottom: 0.25rem;
  }

  #discover-endpoint {
    grid-row-start: 2;
  }

  #track-endpoint {
    grid-row-start: 4;
  }

  #learn-endpoint {
    grid-row-start: 6;
  }

  .flowEndpointText {
    font-size: var(--FS-xs);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 12rem 7rem 4rem 7rem;
  }
  .title {
    font-size: var(--FS-5xl);
  }

  .flowEndpointContainer {
    grid-template-rows: auto 115px 30px 115px 30px 115px auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 14rem 7rem 8rem 7rem;
  }
  .textContainer {
    margin-bottom: 4rem;
  }

  .flowEndpointContainer {
    grid-template-rows: auto 125px auto 125px auto 125px auto;
  }

  .flowEndpointText {
    font-size: var(--FS-s);
  }

  .text {
    font-size: var(--FS-lg);
  }
}

@media screen and (min-width: 1440px) {
  .flowEndpointContainer {
    grid-template-rows: auto 125px 50px 125px 50px 125px auto;
  }

  .flowEndpointTitle {
    font-size: var(--FS-xl);
  }

  .flowEndpointText {
    font-size: var(--FS-base);
  }
}
