.container {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.75rem;
  background-color: var(--newtBlue-50);
  border: 0px;
  color: var(--gray-800);
}

.rightArrow {
  margin-left: 0.5rem;
}

.lastBtn {
  color: white;
  background: linear-gradient(135deg, var(--newtBlue-500) 40%, #3c96ff 100%);
  font-size: var(--FS-base);
}

@media screen and (min-width: 640px) {
  .container {
    width: 225px;
  }

  .lastContainer {
    width: 300px;
  }
}
