.label {
  font-size: var(--FS-base);
  color: white;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.input {
  margin-bottom: 1.5rem;
}

.btn {
  width: 67%;
}

@media screen and (min-width: 640px) {
  .label {
    align-self: flex-start;
    font-size: var(--FS-lg);
  }

  .input {
    margin-bottom: 2rem;
  }

  .btn {
    width: 250px;
    align-self: center;
  }
}
