.App {
  background-color: #38ceff;
  min-height: 100vh;
}

.mainContainer {
  min-height: calc(100vh - 75px);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  max-width: 1600px;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phoneGraphicContainer {
  display: none;
}

.nav {
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  height: 75px;
  padding: 0 2rem;
  align-items: center;
}

.logo {
  font-family: "Righteous";
  font-size: 32px;
  color: #fff;
  letter-spacing: 0.1rem;
  line-height: 60px;
}

.title {
  font-family: "Avenir";
  font-size: 36px;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  font-family: "Avenir";
  color: #fff;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.input {
  width: 100%;
  font-size: 14px;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.btn {
  width: 67%;
}

@media screen and (min-width: 640px) {
  .nav {
    padding: 0 4rem;
  }

  .mainContainer {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 0 4rem 4rem;
  }

  .phoneGraphicContainer {
    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    width: 50%;
  }

  .logo {
    font-size: 40px;
  }

  .titleContainer {
    margin-top: 200px;
    width: 50%;
    min-width: 400px;
    justify-content: center;
    align-items: flex-start;
    margin-right: 3rem;
  }

  .title {
    font-size: 48px;
    text-align: start;
    margin-bottom: 3rem;
  }

  .subtitle {
    font-size: 18px;
  }

  .input {
    width: 100%;
    font-size: 16px;
    margin-bottom: 2rem;
  }

  .btn {
    width: 250px;
    align-self: center;
  }
}

@media screen and (min-width: 2000px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav {
    max-width: 1600px;
  }
}
