.App {
  min-height: 100vh;
  background: url("../../assets/background.svg");
  background-repeat: repeat-x; /* TO DO: only x-scale background svg */
}

.mainContainer {
  height: 779px;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100vw;
  max-width: 1600px;
  padding: 0 2rem;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

/* Small mobile phones */
@media screen and (max-height: 680px) {
  .mainContainer {
    justify-content: flex-start;
    margin-top: 4rem;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phoneGraphicContainer {
  display: none;
}

.title {
  font-family: "Avenir";
  font-size: var(--FS-3xl);
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}

.label {
  font-size: var(--FS-base);
  font-family: "Avenir";
  color: #fff;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.input {
  margin-bottom: 1.5rem;
}

.btn {
  width: 67%;
}

@media screen and (min-width: 640px) {
  .mainContainer {
    display: flex;
    height: auto;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 0 4rem 4rem;
  }

  .phoneGraphicContainer {
    margin-top: 2rem;
    margin-right: 1rem;
    display: flex;
    width: 50%;
  }

  .titleContainer {
    margin-top: 200px;
    width: 50%;
    min-width: 400px;
    justify-content: center;
    align-items: flex-start;
    margin-right: 3rem;
  }

  .title {
    font-size: var(--FS-5xl);
    text-align: start;
    margin-bottom: 3rem;
  }

  .label {
    align-self: flex-start;
    font-size: var(--FS-lg);
  }

  .input {
    margin-bottom: 2rem;
  }

  .btn {
    width: 250px;
    align-self: center;
  }
}

@media screen and (min-width: 2000px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
  }

  .mainContainer {
    flex: 0;
  }
}
